/* font-family: 'Inika', serif;
font-family: 'Inter', sans-serif; */

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #636060;

  background: #ffffff;
}





.container {
  background-color: #EDF2EC;
}




/* Хедер */
.header {
  width: 1440px;
  margin: 0 auto;

  font-family: 'Inika', serif;
  font-size: 16px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  width: 1220px;
  padding: 42px 110px;
}

.header__logo-link {
  display: flex;
  align-items: center;

  line-height: 21px;
  color: #000000;

  text-decoration: none;
}

.header__list {
  display: flex;
}

.header__item {
  margin-right: 46px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  line-height: 50px;
  color: #010201;
  text-decoration: none;
}

.header__link_active {
  color: #E06733;
}




/* Первая секция hero */
.welcome {
  display: flex;
  /* justify-content: space-between; */
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 93px;
  padding: 62px 109px;
}

.welcome__img {
  width: 450px;
  margin-right: 225px;
}

.welcome__column-wrapper {
  width: 549px;
  margin-top: 36px;
}

.welcome__title {
  margin: 0;
  margin-bottom: 42px;

  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

.welcome__word_green {
  color: #499A18;
}

.welcome__text {
  margin-bottom: 48px;

  line-height: 35px;
  color: #636060;
}

.welcome__button {
  width: 159px;
  height: 44px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  border: 2px solid #E06733;
  border-radius: 10px;

  background-color: #EDF2EC;
}




/* Вторая секция */
.about {
  display: flex;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 94px;
}

.about__column-wrapper {
  margin-right: 153px;
}

.about__title {
  width: 463px;
  margin: 0;
  margin-bottom: 40px;

  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.about__word_orange {
  color: #E06733;
}

.about__text {
  width: 608px;
  line-height: 30px;
}




/* Третья секция сервисы*/

.service {
  width: 1440px;
  margin: 0 auto;
  padding: 40px 109px 121px;
}

.service__title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}

.service__title {
  width: 306px;
  margin: 0;
  margin-right: 142px;

  font-family: 'Inika';
  /* font-weight: 400; */
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.service__list {
  display: flex;
  justify-content: space-between;
  width: 560px;
}

.button_orange {
  width: 160px;
  height: 50px;
  padding: 12px 40px;

  border: 1px solid #E06733;
  border-radius: 5px;

  font-family: 'Inika';
  font-size: 20px;
  line-height: 26px;
  color: #E06733;

  background-color: #EDF2EC;
}

/* .service__gallery-wrapper {
  display: grid;
  grid-template-columns: 330px 330px 330px;
  row-gap: 116px;
  column-gap: 55px;
} */


.service__gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 116px;
  row-gap: 55px;
}

.service__gallery-card {
  width: 330px;
  margin: 0;
}

.service__title-card {
  font-weight: 700;
  line-height: 20px;
  color: #E06733;
}

.service__text-card {
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}




/* Четвертая секция цены*/
.prices__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.prices__accourdion {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.prices__text {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
}

.prices__button {
  font-weight: 700;
}

.contacts__title {
  font-family: 'Inika';
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.contacts__accourdion {
  line-height: 40px;
  color: #717171;
}

.footer__text_black {
  line-height: 50px;
  color: #000000;
}

.footer__copyright-link {
  text-decoration: none;
}

.footer__rss-link {
  text-decoration: none;
}